@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');
body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: Black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Rajdhani', sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: right;
  width: 40%;
  height: 98%; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 0px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  font-size: 2vw;
  word-wrap: break-word;
  float: left;
  padding: 20px;
  width: 60%;
  background-color: #f1f1f1;
  height: 98%; /* only for demonstration, should be removed */
  font-family: 'Rajdhani', sans-serif;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

section {
  background-color: #f1f1f1;
  color: black;
}
/* Style the footer */
footer {
  background-color: #777;
  padding: 2%;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #e94a4a;
  border-radius: 25px;
}

.button1:hover {
  background-color: #e94a4a;
  color: white;
}
.button1:focus {
  background-color: #e94a4a;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #e94a4a;
  border-radius: 25px;
}

.button2:hover {
  background-color: #e94a4a;
  color: white;
}

.button2:focus {
  background-color: #e94a4a;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #e94a4a;
  border-radius: 25px;
}

.button3:hover {
  background-color: #e94a4a;
  color: white;
}
.button3:focus {
  background-color: #e94a4a;
  color: white;
}

#RO_container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

figure {
  position: relative;
  margin: 0px 0px;
  width: 675px;
  height: 831px;
  border: 6px rgb(233, 74, 74, 1) solid;
  overflow: hidden;
  text-align: center;
}

figure img {
  display: block;
}

figure figcaption {
  position: absolute;
  padding-top: 300px;
  background-color: rgb(233, 74, 74, .7);  
  display: block;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 20;
}